$borderRadius: 2px

.v-pagination
  display: flex
  justify-content: flex-start
  box-sizing: border-box
  &.v-pagination--right
    justify-content: flex-end
  &.v-pagination--center
    justify-content: center
  ul
    margin: 0
    padding: 0
    display: flex
    box-shadow: 0 1px 2px #00000020
    li
      list-style: none
      display: flex
      a
        padding: .3rem .6rem
  
  &.v-pagination--border